* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Estilos del Header*/

/* Iniciamos los estilos del boton y todo lo relacionado*/

.boton-menu {
  border: none;
  background-color: transparent;
  color: transparent !important;
  font-size: 23px;
}

.navbar {
  background-color: #faca77 !important;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-item {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  transition: 0.3s;
  z-index: 1000 !important;

}

.nav-item:hover {
  background-color: #fce1ac;
  border-radius: 5px;
  font-size: 20px;
  box-shadow: 0 4px 8px rgb(210, 205, 238);
}

.offcanvas-start {
  width: 20rem !important;
  background-color: #fef2d6 !important;
}


.offcanvas-start {
  transition: 0.5s !important;
}

/* Fin de los estilos del boton y todo lo relacionado*/

/* Estilos De del logo*/

.logo {
  position: absolute;
  top: 20%;
  left: 6%;
  transform: translateX(-50%, -50%);
}

@media (max-width: 900px) {
    .logo {
        position: absolute;
        top: 20%;
        left: 30%;
        transform: translateX(-50%, -50%);
    }
}

/* Fin de Estilos De del logo*/

/*   Estilos De del foto-perfil*/
.foto-perfil {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 1px;
    right: 20px;
    transform: translateX(50%, -50%);
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;

}

.dropdown {
    text-decoration: none;
    background-color: transparent !important;
    position: absolute;
    top: 5px;
    left: 100%;
    
;
}

.dropdown-menu {
    position: absolute;
    top: 50px   !important;
    right: 40px !important;
    padding: 20px;
    background-color: #fef2d6 ;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);   
    color: #000;
    border-radius: 10px;
    gap: 10px;
    
}

.nombre {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
}

.dropdown-item {
   gap: 10px;
}

.dropdown-item:hover {
   background-color: #fce1ac;
}

/*  Fin de Estilos De  foto perfil*/
/*Tareas */

/*Titulos */
#TP {
  margin-top: 75px;
  text-align: center;
  font-weight: bold;
}

#TR {
  margin-top: 15px;
  text-align: center;
  font-weight: bold;
}

/* Tareas Pendientes */
.tarea {
  background-color: white;
  border: 2px solid #faca77;
  border-radius: 12px;
  padding: 15px;
  width: 100%;
  max-width: 310px;
  margin-bottom: 20px;
}

/* Botón */
.btn-realizada {
  background-color: #faca77;
  border: none;
  color: #333;
  font-weight: bold;
  text-align: center;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.btn-realizada:hover {
  background-color: #f9aa3e;
}

/* Tareas Realizadas */
.realizada {
  background-color: white;
  border: 2px solid #7597e5; 
  border-radius: 12px;
  padding: 15px 20px;
  transition: 0.3s;
  width: 100%;
  max-width: 310px;
  margin-bottom: 20px;
}

/* Contenido de Tareas */
.titulo {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detalle {
  font-size: 14px;
  color: #333;
  margin-bottom: 10px;
}

.fecha {
  font-size: 13px;
  text-align: left;
  font-style: italic;
}

/*Tamaños*/
#TareasC .col-md-4,
#TareasR .col-md-4 {
  flex: 0 0 100%; 
  max-width: 100%;
  display: flex;
  justify-content: center;
}

@media (min-width: 576px) {
  #TareasC .col-md-4,
  #TareasR .col-md-4 {
    flex: 0 0 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
}

@media (min-width: 992px) {
  #TareasC .col-md-4,
  #TareasR .col-md-4 {
    flex: 0 0 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
  }
}
