body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    padding: 30px;
    color: #333;
}
    
h1 {
    color: #333;
    margin-top: 40px;
    text-align: center;
}
  
.contenedor-tareas {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}
  
.tarea {
    background-color: white;
    border: #0029ff solid 1px ;
    border-radius: 12px;
    padding: 15px 20px;
    width: 90%;
    width: 600px;
    transition: 1s;
}

.tarea:hover {
    box-shadow:  0px 0px 5px #0029ff;
    width: 650px;
}


.tareas-realizada {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}


.realizada {
    background-color: white;
    border: 2px solid #a8cdff;
    border-radius: 12px;
    padding: 15px 20px;
    width: 90%;
    width: 600px;
    transition: 1s;
}
.realizada:hover {
    box-shadow:  0px 0px 5px #a8cdff;
    width: 650px;
}
  
.titulo {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.detalle {
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
}
  
.realizadas .detalle {
    color: #333;
}
  
.fecha {
    font-size: 13px;
    text-align: right;
    font-style: italic;
}
  