body {
  font-family: Arial, sans-serif;
  background-color: #F1F5F9;
  margin: 10px;
  padding:0;
  display: flex;
  flex-direction: column;
  align-items: center;
}





/* Estilos del Header*/

/* Iniciamos los estilos del boton y todo lo relacionado*/

.boton-menu {
    border: none;
    background-color: transparent;
    color: transparent !important;
    font-size: 23px;


}

.navbar {
    background-color: #faca77 !important;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-item {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    transition: 0.3s;
    z-index: 1000 !important;

}

.nav-item:hover {
    background-color: #fce1ac;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 0 4px 8px rgb(210, 205, 238);

}

.offcanvas-start {
    width: 20rem !important;
    background-color: #fef2d6 !important;
}


.offcanvas-start {
    transition: 0.5s !important;
}

/* Fin de los estilos del boton y todo lo relacionado*/

/* Estilos De del logo*/

.logo {
    position: absolute;
    top: 20%;
    left: 6%;
    transform: translateX(-50%, -50%);
}




@media (max-width: 900px) {
    .logo {
        position: absolute;
        top: 20%;
        left: 30%;
        transform: translateX(-50%, -50%);
    }
}

/* Fin de Estilos De del logo*/

/*   Estilos De del foto-perfil*/
.foto-perfil {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 1px;
    right: 20px;
    transform: translateX(50%, -50%);
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;

}

.dropdown {
    text-decoration: none;
    background-color: transparent !important;
    position: absolute;
    top: 5px;
    left: 100%;
    
;
}

.dropdown-menu {
    position: absolute;
    top: 50px   !important;
    right: 40px !important;
    padding: 20px;
    background-color: #fef2d6 ;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);   
    color: #000;
    border-radius: 10px;
    gap: 10px;
    
}

.nombre {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
}

.dropdown-item {
   gap: 10px;
}

.dropdown-item:hover {
   background-color: #fce1ac;
}

/*  Fin de Estilos De  foto perfil*/


.menu{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5.5%;
  gap:10px;
  padding: 20px;
  width:100% ;
  background-color: #e5e7eb;

}

.menu button{
  background-color: #faca77;
  border: none;
  padding: 10px 20px ;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.menu button:hover{
  background-color: #e67417;
}

.contenido{
  width: 90%;
  max-width: 800px;
  padding: 20px;
}

.formulario{
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.formulario input,
.formulario select{
  padding: 10px;
  border:1px solid #ccc;
  border-radius: 5px;
}

.formulario button{
  background-color: #e67417;
  color: black;
  border: 2px solid #faca77;
  padding: 10px;
  border-radius: 5px;
  cursor:pointer;
}


.formulario button:hover{
    background-color: #faca77;

}
.tarjetas-usuarios{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
  gap: 15px;
}

.tarjeta{
  background-color: white;
  padding: 15px;
  border-radius:8px ;
  box-shadow: o 2px 4px rgba(0, 0, 0, 0.1);
}

.tabla-usuarios{
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.tabla-usuarios th,
.tabla-usuarios td {
  padding: 12px;
  border-bottom: 1px solid #ccc;
  text-align: left;
}

.tabla-usuarios th {
  background-color: #E5E7EB;
}

.tabla-usuarios button {
  background-color: #EF4444;
  color: white;
  border:none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}


.tabla-usuarios button:hover{
    background-color: #8d1111;
}


.estado-usuario {
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  margin-top: 20px;
  border: 2px solid #faca77; 
}

.estado-usuario h2 {
  color: #1E3A8A; 
  font-size: 20px;
  margin-bottom: 10px;
  display: flex;
    justify-content: center;
}

.estado-usuario ul {
  padding-left: 2;
}

.estado-usuario li {
  background-color: #fce1ac; 
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 5px;
  color: #1E3A8A;
}

#permisos{
    text-align: center;
}

#crear{
    text-align: center;
}

#roles{
    text-align: center;
}

#contrasena{
    text-align: center;
}

.tarjeta:hover{
   background-color: #faca77;
}