<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reportes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/Reportes.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

</head>

<body>
    <header>
        <nav class="navbar bg-body-tertiary fixed-top">
            <div class="container-fluid">

                <button class="navbar-toggler-start boton-menu" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"> </span>
                </button>

                <img src="../static/Recursos/Diseño sin título.svg" alt="logo" class="logo">

                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
                    aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                        <button type="button" class="btn-close boton" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="{{ url_for('crearUsuarios') }}">Usuarios</a>
                                <i class="bi bi-person-fill  icon-menu"></i>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('crearTareas') }}">Crear Tareas</a>
                                <i class="bi bi-journal-text icon-menu"></i>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('tareas') }}">Tareas</a>
                                <i class="bi bi-journal-text icon-menu"></i>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " aria-current="page" href="{{ url_for('calendario') }}">Calendario</a>
                                <i class="bi bi-calendar-event icon-menu"></i>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{{ url_for('Reportes') }}">Reportes</a>
                                <i class="bi bi-clipboard-data icon-menu"></i>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " aria-current="page" href="{{ url_for('chat') }}">Chat</a>
                                <i class="bi bi-chat-dots icon-menu"></i>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="dropdown">
                    <a href="#" class="d-inline-block link-dark text-decoration-none " id="userDropdown"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="../static/Recursos/Foto.jpg" alt="Foto de perfil" class="foto-perfil ">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">

                        <li class="dropdown-header text-center">
                            <h2 class="nombre">Nombre de Usuario</h2>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="{{ url_for('login') }}">
                                <i class="bi bi-box-arrow-right me-2"></i> Salir
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <i class="bi bi-gear"></i></i> Configuración
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
            </div>

            </div>
        </nav>
        </div>
        </div>
        </div>
    </header>

    <div class="reportes">
        <div class="row row1">
            <div class="col-12 col-md-10">
                <div class="row row2">
                    <div class="col-12 col-md-6 m-2">
                        <div class="reportes1">
                            <div class="card ">
                                <img src="../static/Recursos/Reportes/Reporte1.svg" class="card-img" alt="...">
                                <div class="card-img-overlay">
                                    <h5 class="card-title">Tareas Realizadas</h5>
                                    <p class="card-text"><small>Reporte del ultimo Mes</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-5 m-2">
                        <div class="reportes2">
                            <div class="card">
                                <img src="../static/Recursos/Reportes/Reportes2.svg" class="card-img" alt="..."> img2 " alt="...">
                                <div class="card-img-overlay">
                                    <h5 class="card-title">Tareas Pendientes segun la prioridad</h5>
                                    <p class="card-text"><small>Reporte de la semana</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 m-2">
                        <div class="reportes3">
                            <div class="card ">
                                <img src="../static/Recursos/Reportes/Reporte3.svg" class="card-img" alt="...">
                                <div class="card-img-overlay">
                                    <h5 class="card-title">Estado de Tareas</h5>
                                    <p class="card-text"><small>Ultimos 3 meses</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-5 m-2">
                        <div class="reportes4">
                            <div class="card">
                                <img src="../static/Recursos/Reportes/Reporte4.svg" class="card-img" alt="...">
                                <div class="card-img-overlay">
                                    <h5 class="card-title">Rendimiento </h5>
                                    <p class="card-text"><small>Ultimos 6 meses</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-2  buscar-empleado">
               <div class="row">
                <div class="col-6 col-md-12">
                     <div class="menu-empleado1">
                    <li class="dropdown ">
                        <a class="nav-link dropdown-toggle " type="button" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Empleado</a>
                        <ul class="dropdown-menu menu-empleado">
                            <li><a class="dropdown-item" href="#">Empleado1</a></li>
                            <li><a class="dropdown-item" href="#">Empleado2</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Departamento</a></li>
                        </ul>
                    </li>
                </div>
                </div>

                 <div class="col-6 col-md-12">
                                    <button type="button" class="btn btn-outline-success btn-lg">Exportar</button>
                 </div>
               </div>
            </div>
        </div>

    </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>
</body>

</html>