* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  overflow-x: hidden;
}


/* Estilos del Header*/

/* Iniciamos los estilos del boton y todo lo relacionado*/

.boton-menu {
    border: none;
    background-color: transparent;
    color: transparent !important;
    font-size: 23px;


}

.navbar {
    background-color: #faca77    !important;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-item {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    transition: 0.3s;
    z-index: 1000 !important;

}

.nav-item:hover {
    background-color: #fce1ac;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 0 4px 8px rgb(210, 205, 238);

}
img {
    object-fit: cover;
}
.offcanvas-start {
    width: 20rem !important;
    background-color: #fef2d6 !important;
}


.offcanvas-start {
    transition: 0.5s !important;
}

/* Fin de los estilos del boton y todo lo relacionado*/

/* Estilos De del logo*/

.logo {
    position: absolute;
    top: 20%;
    left: 6%;
    transform: translateX(-50%, -50%);
}




@media (max-width: 900px) {
    .logo {
        position: absolute;
        top: 20%;
        left: 30%;
        transform: translateX(-50%, -50%);
    }
}

/* Fin de Estilos De del logo*/

/*   Estilos De del foto-perfil*/
.foto-perfil {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 1px;
    right: 20px;
    transform: translateX(50%, -50%);
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;

}

.dropdown {
    text-decoration: none;
    background-color: transparent !important;
    position: absolute;
    top: 5px;
    left: 100%;
    
;
}

.dropdown-menu {
    position: absolute;
    top: 50px   !important;
    right: 40px !important;
    padding: 20px;
    background-color: #fef2d6 ;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);   
    color: #000;
    border-radius: 10px;
    gap: 10px;
    
}

.nombre {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
}

.dropdown-item {
   gap: 10px;
}

.dropdown-item:hover {
   background-color: #fce1ac;
}

/*  Fin de Estilos De  foto perfil*/

/* Estilos del body*/

.row1 {
    margin-top: 5em;
}



.menu-empleado1{
    position: absolute;
}

.buscar-empleado {
    font-size: 18px;
    list-style-type: none;
    font-weight: bold;
    z-index: 10;
    display: grid;
    grid-template-rows: 10em ; 


}

.btn-outline-success{
    width: 6em;
    border: #a4c5ec solid 2px;
    color: #000000;
    background-color: #a4c5ec ;
    transition: 0.7s;

}

.btn-outline-success:hover {
    background-color: #374e9f ;
     border: #374e9f solid 2px;
     font-weight: bold;
      width: 6.5em;


}

 .menu-empleado {
    position: absolute !important;
    top: 6.5em !important;   
    left: 3em !important;
    transform: translate(-50%, -50%) !important;
    text-decoration: none;
}

/* Vamos con el body*/



.reportes2, .reportes4{
    height: 100%;
}
.card {
    height: 100%;

}
.card-title{
    
        font-weight: bold;
}

.img2 {
    height: 100%;
}

.card:hover{
    .card-img-overlay{
    display: none;
}
}

 @media (max-width: 767px) {

.buscar-empleado{
      position: absolute;
        top: 4em;
        display: flex;
        justify-content: center;
}
 

.menu-empleado1{
    margin-left: -2em;
}
.card-text {
    display: none;
}

.row1 {
    margin-top: 8em;
}

}

/*Fin del body*/

